{% extends 'admin/main.html.twig' %}

{% form_theme formPushAllSettings with ['bootstrap/bootstrap_3_layout.html.twig'] only %}

{% block title %}Настройки - Админ-панель{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/assets/css/datatables/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/assets/css/datatables/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/datatables/responsive.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/datatables/responsive.jqueryui.min.css">
{% endblock %}

{% block content %}
    <div class="main-content-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-ml-12">
                    <div class="row">
                        <div class="card-body">
                            <div class="form-group">
                                <a href="{{path('admin_settings_design')}}" target="_blank">
                                    <button type="button" class="btn btn-primary btn-lg btn-block">Открыть настройки клиентской части дизайна
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mt-5">
                            <div class="card">

                                <div class="card-body">
                                    <h4 class="header-title">Подключение к PUSH каналу</h4>
                                    <p class="text-muted font-14 mb-4"></p>
                                    <div class="form-group">
                                        <label for="push-link-feed-input" class="col-form-label">Чтобы подключить к
                                            каналу нужно перейти по ссылке:</label>
                                        <input class="form-control" type="text" value="{{ pushLinkFeed }}"
                                               id="push-link-feed-input">
                                    </div>

                                    <div class="form-group">
                                        <a href="{{ pushLinkFeed }}" target="_blank">
                                            <button type="button" class="btn btn-primary btn-lg btn-block">Перейти по
                                                ссылке
                                            </button>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--div class="row">
                <div class="col-lg-6 col-ml-12">
                    <div class="row">
                        <div class="col-12 mt-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">Настройки уведомлений</h4>
                                    <div class="form-group">
                                        <label for="example-text-input" class="col-form-label">Text</label>
                                        <input class="form-control" type="text" value="Empty"
                                               id="example-text-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="row">
                <div class="col-lg-6 col-ml-12">
                    <div class="row">
                        <div class="col-12 mt-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">Задачи для планировщика задач (CRON)</h4>
                                    <div class="form-group">
                                        <label for="example-text-input" class="col-form-label">
                                            Поиск необработанных заявок, отправка уведомления
                                        </label>
                                        <div class="form-group">
                                            <input class="form-control" type="text"
                                                   value="{{ path('cron_no_process_applics', {'key': cronKey}) }}"
                                                   id="example-text-input">
                                        </div>

                                        <div class="form-group">
                                            <a href="{{ path('cron_no_process_applics', {'key': cronKey}) }}"
                                               target="_blank">
                                                <button type="button" class="btn btn-primary btn-lg btn-block">Выполнить
                                                    сейчас
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-ml-12">
                    <div class="row">
                        <div class="col-12 mt-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">Настройки подключения к PushAll</h4>
                                    {{ form_start(formPushAllSettings) }}
                                    {{ form_widget(formPushAllSettings) }}
                                    {{ form_end(formPushAllSettings) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-ml-12">
                    <div class="row">
                        <div class="col-12 mt-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">Контроль версий настроек</h4>
                                    <div class="data-tables datatable-primary">
                                        <table id="dataTable2" class="text-center">
                                            <thead class="text-capitalize">
                                            <tr>
                                                <th>#</th>
                                                <th>Параметры</th>
                                                <th>Дата</th>
                                                <th>Откат</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                    {% for item in configVersions %}
                                        <tr id="vcsSettings-{{ item.id }}">
                                            <td>{{ item.id }}</td>
                                            <td>{% for key, value in item.read %}
                                                    {{ key }}: {{ value }},
                                                {% endfor %}</td>
                                            <td>{{ item.created | date('d.m.Y H:i:s') }}</td>
                                            <td><a href="{{ path('admin_settings_revert', {'id': item.id}) }}">Откатиться</a></td>
                                        </tr>
                                    {% endfor %}
                                            </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="/assets/js/datatables/jquery.dataTables.js"></script>
    <script src="/assets/js/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/js/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/js/datatables/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="/assets/js/datatables/2.2.3/js/responsive.bootstrap.min.js"></script>
    <script src="/assets/admin/scripts/applic.js"></script>
<script>
    if (window.location.href.indexOf('vcsSettings-') > 0) {
        $(window.location.hash).css('background-color', 'blue');
        $(window.location.hash).css('color', 'white');
    }
</script>
{% endblock %}