{% extends 'admin/main.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
{% endblock %}

{% block content %}
<script>
    var applics = {{ applicsJson | json_encode }};
</script>
<div class="modal fade" id="modalTransferBadClient">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Перенесение клиента по заявке №<span id="modalTransferBadClient-applic-id"></span> в черный список
                </h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label required" for="add_court_practices_form_content">Причина:</label>
                        <textarea name="modalTransferBadClient-comment" required="required" class="form-control"></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="modalTransferBadClient-applic-id" value=""/>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="transferBadClientAction()">Перенести</button>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="modalApplicSetResult">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Указать результат/итог по заявке №<span id="modalApplicSetResult-applic-id"></span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label required" for="add_court_practices_form_content">Результат:</label>
                        <textarea name="modalApplicSetResult-comment" required="required" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="modalApplicSetResult-applic-id" value=""/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick="applicSetResultAction()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

<div class="page-container">
    <div class="main-content-inner">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Заявки</h4>
                            <div class="data-tables datatable-primary">
                                <table id="dataTable2" class="text-center">
                                    <thead class="text-capitalize">
                                    <tr>
                                        <th>#</th>
                                        <th>Имя клиента</th>
                                        <th>Телефон</th>
                                        <th>Email</th>
                                        <th>Сообщение</th>
                                        <th>Статус</th>
                                        <th>Дата</th>
                                        <th>Действия</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for applic in applics %}
                                        {% if applic.status.id == 2 %}
                                            {% set color = 'green' %}
                                        {% elseif(applic.status.id == 1) %}
                                            {% set color = 'orange' %}
                                            {% else %}
                                            {% set color = 'black' %}
                                        {% endif %}
                                        <tr id="applic-{{ applic.id }}">
                                            <span style="display:none" class="applicResult">{{ applic.result }}</span>
                                            <td>{{ applic.id }}</td>
                                            <td>{{ applic.clientName }}</td>
                                            <td>{{ applic.clientPhone }}</td>
                                            <td>{{ applic.clientMail }}</td>
                                            <td>{{ applic.message }}</td>
                                            <td class="applicStatus"><span style="color:{{ color }}">{{ applic.status.name }}</span></td>
                                            <td>{{ applic.created | date('d.m.y H:i:s') }}</td>
                                            <td>
                                                {% if applic.status.id != 2 %}
                                                <a onclick="applicNextStatus({{ applic.id }})" style="color:green"
                                                   title="Перевести заявку на следующий статус" class="ti-arrow-circle-right applicNextStatus"></a>
                                                {% endif %}

                                                <a onclick="applicSetResult({{ applic.id }})"
                                                   title="Указать результат" class="ti-comment-alt applicSetResult" style="{% if applic.status.id != 2 %}display:none{% endif %}"></a>

                                                <a href="javascript;" onclick="transferBadClient({{ applic.id }})" style="color:red"
                                                   title="Перевести клиента в черный список" class="ti-na" data-toggle="modal" data-target="#modalTransferBadClient"></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<script src="/assets/admin/scripts/applic.js"></script>
{% endblock %}
