{% extends 'admin/main.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/assets/css/datatables/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/assets/css/datatables/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/datatables/responsive.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/datatables/responsive.jqueryui.min.css">
{% endblock %}

{% block content %}
<div class="page-container">
    <div class="main-content-inner">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Список плохих клиентов</h4>
                            <div class="data-tables datatable-primary">
                                <table id="dataTable2" class="text-center">
                                    <thead class="text-capitalize">
                                    <tr>
                                        <th>#</th>
                                        <th>Имя клиента</th>
                                        <th>Телефон</th>
                                        <th>Email</th>
                                        <th>Комментарий</th>
                                        <th>Действия</th>
                                        <th>Дата</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in clients %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.phone }}</td>
                                            <td>{{ item.email }}</td>
                                            <td>{{ item.comment }}</td>
                                            <td>
                                                <a href="{{ path('admin_vocab_bad_clients_edit', {id: item.id}) }}" title="Редактировать" style="color:green"><i class="ti-pencil-alt"></i></a>
                                                <a onclick="removeClient({{ item.id }})" title="Удалить" style="color:red"><i class="ti-close"></i></a>
                                            </td>
                                            <td>{{ item.created | date('d.m.y H:i:s') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
function removeClient(id) {
    if (confirm("Вы действительно хотите удалить из черного списка клиента №" + id)) {
        window.location = '/admin/vocab/bad-client/remove/' + id;
    }
}
</script>
<script src="/assets/js/datatables/jquery.dataTables.js"></script>
<script src="/assets/js/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/js/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/assets/js/datatables/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/datatables/2.2.3/js/responsive.bootstrap.min.js"></script>
{% endblock %}