<footer class="page-footer font-small unique-color-dark">
    <div style="background-color: #6351ce;">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Присоединяйтесь к нам в социальных сетях!</h6>
                </div>
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <a href="https://ok.ru/group/59988277329956" class="fb-ic">
                        <i class="fab fa-odnoklassniki white-text mr-4"> </i>
                    </a>

                    <a href="https://vk.com/id249631877" class="fb-ic">
                        <i class="fab fa-vk white-text mr-4"> </i>
                    </a>

                    <a href="https://www.facebook.com/territoriaprava36/" class="fb-ic">
                        <i class="fab fa-facebook white-text mr-4"> </i>
                    </a>

                    <!--Instagram-->
                    <a href="https://www.instagram.com/territoria_prava36/" class="ins-ic">
                        <i class="fab fa-instagram white-text"> </i>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Территория права</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>{% if siteConfig.footer_company_description is defined and siteConfig.footer_company_description %}{{ siteConfig.footer_company_description }}{% else %} Описание компании не заполнено{% endif %}</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Услуги</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                {% for item in worksBlock %}
                    <p>
                        <a href="{{ path('page_works_service', {workUrl: item.url}) }}">{{ item.name }}</a>
                    </p>
                {% endfor %}
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Документы</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                {% for item in offerDocuments %}
                    <p>
                        <a href="{{ path('page_services_document', {'id': item.id}) }}">{{ item.name | slice (0, 35)}}..</a>
                    </p>
                {% endfor %}

            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Контакты</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> {% if siteConfig.footer_address is defined and siteConfig.footer_address %}{{ siteConfig.footer_address }}{% else %} не заполнено{% endif %}
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> {% if siteConfig.footer_email is defined and siteConfig.footer_email %}{{ siteConfig.footer_email }}{% else %} не заполнено{% endif %}
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> {% if siteConfig.footer_phone_1 is defined and siteConfig.footer_phone_1 %}{{ siteConfig.footer_phone_1 }}{% else %} не заполнено{% endif %}
                </p>

                {% if siteConfig.footer_phone_2 is defined and siteConfig.footer_phone_2 %}
                    <p>
                        <i class="fas fa-phone mr-3"></i> {{ siteConfig.footer_phone_2 }}
                    </p>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright <!--LiveInternet counter-->
        <script type="text/javascript">
            document.write('<a href="//www.liveinternet.ru/click" ' +
                'target="_blank"><img src="//counter.yadro.ru/hit?t25.5;r' +
                escape(document.referrer) + ((typeof (screen) == 'undefined') ? '' :
                    ';s' + screen.width + '*' + screen.height + '*' + (screen.colorDepth ?
                    screen.colorDepth : screen.pixelDepth)) + ';u' + escape(document.URL) +
                ';h' + escape(document.title.substring(0, 150)) + ';' + Math.random() +
                '" alt="" title="LiveInternet: number of visitors for today is' +
                ' shown" ' +
                'border="0" width="88" height="15"><\/a>')
        </script><!--/LiveInternet-->

    </div>
</footer>
