<!doctype html>
{% form_theme registerForm with ['bootstrap/bootstrap_3_layout.html.twig'] only %}

<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Регистрация</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="/assets/images/icon/favicon.ico">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/themify-icons.css">
<link rel="stylesheet" href="/assets/css/metisMenu.css">
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/css/slicknav.min.css">
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<link rel="stylesheet" href="/assets/css/typography.css">
<link rel="stylesheet" href="/assets/css/default-css.css">
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="stylesheet" href="/assets/css/responsive.css">
<script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="preloader">
    <div class="loader"></div>
</div>
<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">
            {{ form_start(registerForm) }}
                <div class="login-form-head">
                    <h4>Регистрация</h4>
                    <p>Что бы продолжить, Вам необходимо зарегистрироваться</p>
                </div>
                <div class="login-form-body">
                    {% if uLogin.network %}
                        <div class="form-gp">
                            В дальнейшем Вы сможете авторизовываться используя аккаунт социальной сети {{ uLogin.network }}
                            <p>С профилем {{ uLogin.linkProfile }}</p>
                        </div>
                    {% endif %}

                    <div class="form-gp">
                        <label for="field_userName">Логин</label>
                        <i class="ti-user"></i>
                        {{ form_errors(registerForm.userName) }}
                        {{ form_widget(registerForm.userName, {'attr': {'class': 'form-control', 'id': 'field_userName'}, 'type': 'text'}) }}
                    </div>
                    <div class="form-gp">
                        <label for="field_userName">Имя</label>
                        <i class="ti-user"></i>
                        {{ form_errors(registerForm.firstName) }}
                        {{ form_widget(registerForm.firstName, {'attr': {'class': 'form-control', 'id': 'field_firstName'}, 'type': 'text'}) }}
                    </div>
                    <div class="form-gp">
                        <label for="field_patronymic">Отчество</label>
                        <i class="ti-user"></i>
                        {{ form_errors(registerForm.patronymic) }}
                        {{ form_widget(registerForm.patronymic, {'attr': {'class': 'form-control', 'id': 'field_patronymic'}, 'type': 'text'}) }}
                    </div>
                    <div class="form-gp">
                        <label for="field_lastName">Фамилия</label>
                        <i class="ti-user"></i>
                        {{ form_errors(registerForm.lastName) }}
                        {{ form_widget(registerForm.lastName, {'attr': {'class': 'form-control', 'id': 'field_lastName'}, 'type': 'text'}) }}
                    </div>
                    <div class="form-gp">
                        <label for="filed_email">Электронный адрес</label>
                        <i class="ti-email"></i>
                        {{ form_errors(registerForm.email) }}
                        {{ form_widget(registerForm.email, {'attr': {'class': 'form-control', 'id': 'field_email'}, 'type': 'email'}) }}
                    </div>

                    <div class="form-gp">
                        <label for="exampleInputPassword1">Пароль</label>
                        <i class="ti-lock"></i>
                        {{ form_errors(registerForm.password) }}
                        {{ form_widget(registerForm.password, {'attr': {'class': 'form-control', 'id': 'field_password'}, 'type': 'password'}) }}
                    </div>
                    <div class="submit-btn-area">
                        {{ form_widget(registerForm.submit, {'attr': {'class': 'form-control'}, 'type': 'submit'}) }}
                    </div>
                </div>
                {{ form_end(registerForm) }}
        </div>
    </div>
</div>
<script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/jquery.slimscroll.min.js"></script>
<script src="/assets/js/jquery.slicknav.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/scripts.js"></script>

<script>
    $('form input').focus();
</script>
</body>

</html>
